.scroll-m::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scroll-m::-webkit-scrollbar {
    height: 5px;
    background-color: #F5F5F5;
}

.scroll-m::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
}

.btn-outline-none:focus {
    border: none !important;
    box-shadow: none !important;
    outline: 0 none !important;
}

.outline-none:focus {
    border: 1px solid;
    box-shadow: none !important;
    outline: 0 none !important;
}

.shop-topbar-wrapper .product-sorting-wrapper .shorting-style select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fff; /* url("/static/shop/assets/images/icon-img/shop.png") no-repeat scroll right 10px center  */
    border: 1px solid #ebebeb;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    padding-left: 10px;
    width: 170px;
}

.thumb-wrap {
    position: relative;
    padding-bottom: 56.25%;
    /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
}

.thumb-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}
img.note-float-left {
    padding: 0 20px 0 0;
}
img.note-float-right {
    padding: 0 0 0 20px;
}

.blog_post_detail_img_w100 p img {
    width: 100%;
}

.help_text:hover:after {
    font-style: oblique;
    color: maroon;
    content:" г. Москва, Солнцево, ул.Щорса, д.8 стр.1";
}
.delivery-title h3 {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  margin: 0 0 45px;
  text-transform: uppercase;
}

.delivery-title h3:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -12px;
  background-color: #ff2f2f;
  width: 50px;
  height: 2px;
}
.about-main a:hover {
    color:  red;
}
.hv:hover {
    color:  red;
}