{% extends 'shop/base.html' %}
{% load static %}
{% load helpers %}
{% block title %}Оформление заказа{% endblock %}
{% block content %}
<style>
    input {
      background-image: linear-gradient(to right, white, #DCDCDC);
    }
    .suggestions-suggestions a {
        background: white;
    }
    .dpoints {
        background: white;
        width: 100px;
        height: 30px;
        margin-top: 1px;
        /*border: 1px solid;*/
        position: absolute;
        right: 25px;
        z-index: 100000000;
    }
</style>

<div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="{% url 'shop:home' %}">Главная</a>
                </li>
                <li class="active">Оформление заказа </li>
            </ul>
        </div>
    </div>
</div>
{% if errorMessage %}
<div class="alert alert-danger text-center" role="alert">
  {{errorMessage}}
</div>
{% endif %}

<div class="checkout-main-area pt-50 pb-120">
    <div class="container">        
        <div class="checkout-wrap pt-30">
            <div class="row pb-10 border-0">
                <div class="grand-totall col-lg-6 col-12 border-0 pt-0 pb-0" style="background-color: #fff;">
                    <div id="delivery_title_scroll" class="delivery-title border-0 pt-1">
                        <h3>Доставка</h3>
                    </div>
                    <div>
                        <div class="total-shipping border-0">
                            <h5>Тип доставки</h5>
                            <ul id="delivery_v">
                                {% if cart.get_products_install_total_price == 0 and cart|is_not_install:'услуга' %}
                                <li>
                                    <input type="radio" name="delivery_name" value="1"> До адреса клиента <span></span>
                                </li> 
                                <li id="delivery_poin">
                                    <input type="radio" name="delivery_name" value="2"> До пункта выдачи СДЭК <span></span>
                                </li>
                                <li class="help_text">
                                    <input id="base" type="radio" name="delivery_name" value="3"> Самовывоз или установка 
                                </li>
                                {% else %}
                                <li class="help_text">
                                    <input id="base" checked type="radio" name="delivery_name" value="3"> Самовывоз или установка 
                                </li>
                                {% endif %} 
                            </ul>
                            <div id="cdek_hidden" class="mt-20" hidden>
                                <div class="bg-danger mt-3 text-white text-center search_city_err_msg">
                                    <!-- error message -->
                                </div>
                                <!-- ser to style.css -->
                                <div id="ser" class="billing-info mb-20 pt-3 w-100">
                                    <label for="country_point">Страна доставки <abbr style="color: red;" class="required" title="Страна, обязательно для заполнения">*</abbr></label>
                                    <select name="country_point" id="country_point" class="border-bottom border-dark mb-2">
                                        <option value="RU" selected>Россия</option>
                                        <option value="BY">Беларусь</option>
                                        <option value="KZ">Казахстан</option>
                                    </select>
                                    
                                    <label for="city">Ваш город <abbr style="color: red;" class="required" title="Город, обязательно для заполнения">*</abbr></label>
                                    <!-- d-flex -->
                                    <div class="mt-2">

                                        <input class="form-control bg-light outline-none border border-secondary rounded-0 mr-1" maxlength="50" type="text" name="city" id="city" autocomplete="disabled">
                                        <!-- <button class="btn btn-outline-dark btn-sm search_cities">Посчитать</button> -->

                                    </div>

                                    <div class="mt-2 plist d-none">
                                        <label for="points_list">Уточните Н\П<abbr style="color: red;" class="required" title="required">*</abbr></label>
                                        <select name="points_list" id="points_list" class="border-bottom border-dark">
                                            
                                        </select>
                                    </div>

                                </div>
                                <div class="delivery_points_list d-none"></div>
                                <ul class="tariffs_list" style="color: black;">

                                </ul>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <!-- map -->
                    <div class="maps"></div>
                </div>
                
            </div>
            <div id="shoping_center" class="alert border h6 text-center text-danger d-none h5" role="alert">
               Установить или забрать кронштейн можно по адресу,: г.Москва, ул.Щорса, д.8 стр.1 - автокомплекс "Buncar".
               <br>Забрать - ежедневно с 10:00 до 20:00.
               <br>Установить - ПН и СР с 20:00 до 22:00, СБ с 10:00 до 22:00, по предварительной записи
            </div>
            <form id="order_create" action="{% url 'shop:order_create' %}" method="post" class="row mt-20 d-none">
                {% csrf_token %}
                <input type="hidden" maxlength="100" name="delivery_type" value="empty">
                <input type="hidden" maxlength="100" name="delivery_sum" value="0">
                <input type="hidden" name="address_full_info" value="empty">
                <input type="hidden" name="pvz_code">
                <input type="hidden" name="tariff_code">
                <div class="col-lg-6">
                    <div class="billing-info-wrap mr-50">
                        <h3>ДЕТАЛИ ОПЛАТЫ</h3>
                        
                        <div id="client_info" class="row" hidden>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-20">
                                    <label for="first_name">Имя <abbr class="required" title="Имя, обязательно для заполнения">*</abbr></label>
                                    <input maxlength="50" type="text" name="first_name" id="first_name" value="{{request.POST.first_name}}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-20">
                                    <label for="last_name">Фамилия <abbr class="required" title="Фамилия, обязательно для заполнения">*</abbr></label>
                                    <input maxlength="50" type="text" name="last_name" id="last_name" value="{{request.POST.last_name}}">
                                </div>
                            </div>

                            <div id="delivery_addresses" class="d-none" style="font-size: 12px;">
                                <div class="billing-info mb-20 col">
                                    <label for="street">Улица <abbr class="required" title="Улица, обязательно для заполнения">*</abbr></label>
                                    <input maxlength="200" type="text" name="street" id="street" value="{{request.POST.street}}">
                                </div>
                                <div class="d-flex justify-content-around mt-3">
                                    <div id="building-text" class="w-25">
                                        <div>
                                            <label class="label-common" for="intaro_crmbundle_ordertype_deliveryAddress_building">Дом 
                                                <abbr class="required text-danger" title="Номер Дома, обязательно для заполнения">*</abbr>
                                            </label>
                                            <input type="text" id="building" name="building" autocomplete="disabled" value="{{request.POST.billing}}"></div>
                                    </div>
                                    <div id="flat-text" class="w-25">
                                        <div>
                                            <label for="intaro_crmbundle_ordertype_deliveryAddress_flat">Квартира
                                                <abbr class="required text-success" title="Квартира">*</abbr>
                                            </label>
                                            <input type="text" id="flat" name="flat" autocomplete="disabled" value="{{request.POST.flat}}"></div>
                                    </div>
                                    <div id="house-text" class="w-25">
                                        <div>
                                            <label for="intaro_crmbundle_ordertype_deliveryAddress_house">Строение
                                                <abbr class="required text-success" title="Строение">*</abbr>
                                            </label>
                                            <input type="text" id="house" name="house" autocomplete="disabled" value="{{request.POST.house}}"></div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-around mt-3 mb-5">
                                    <div id="block-text" class="w-25">
                                        <div>
                                            <label for="intaro_crmbundle_ordertype_deliveryAddress_block">Подъезд
                                                <abbr class="required text-success" title="Подъезд">*</abbr>
                                            </label>
                                            <input type="number" id="block" name="block" autocomplete="disabled" value="{{request.POST.block}}"></div>
                                    </div>
                                    <div id="floor-text" class="w-25">
                                        <div>
                                            <label for="intaro_crmbundle_ordertype_deliveryAddress_floor">Этаж
                                                <abbr class="required text-success" title="Этаж">*</abbr>
                                            </label>
                                            <input type="number" id="floor" name="floor" autocomplete="disabled" value="{{request.POST.floor}}"></div>
                                    </div>
                                    <div id="housing-text" class="w-25">
                                        <div>
                                            <label for="intaro_crmbundle_ordertype_deliveryAddress_housing">Корпус
                                                <abbr class="required text-success" title="Корпус">*</abbr>
                                            </label><input type="text" id="housing" name="housing" autocomplete="disabled" value="{{request.POST.housing}}"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 field_hidden">
                                <div class="billing-info mb-20">
                                    <label for="country">Страна <abbr class="required" title="required">*</abbr></label>
                                    <input maxlength="50" type="text" name="country" id="country" placeholder="Страна" required>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 field_hidden">
                                <div class="billing-info mb-20">
                                    <label for="region">Регион <abbr class="required" title="required">*</abbr></label>
                                    <input maxlength="100" type="text" name="region" id="region" value="{{request.POST.region}}">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 field_hidden">
                                <div class="billing-info mb-20">
                                    <label for="address">Адресс / Город, улица, дом, квартира <abbr class="required" title="required">*</abbr></label>
                                    <input maxlength="250" type="text" name="address" id="address" value="{{request.POST.address}}" placeholder="г Москва, ул Щорса, д 8 стр 1 ">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 field_hidden">
                                <div class="billing-info mb-20">
                                    <label for="postal_code">Почтовый индекс <abbr class="required" title="required">*</abbr></label>
                                    <input maxlength="20" type="text" name="postal_code" id="postal_code" value="{{request.POST.postal_code}}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-20">
                                    <label for="phone">Телефон <abbr class="required" title="Телефон, обязательно для заполнения">*</abbr></label>
                                    <input maxlength="100" type="text" name="phone" id="phone" style="padding-left: 50px;" value="{{request.POST.phone}}">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="billing-info mb-20">
                                    <label for="email">Email Address <abbr class="required" title="Email, обязательно для заполнения">*</abbr></label>
                                    <input type="email" name="email" id="email" value="{{request.POST.email}}">
                                </div>
                            </div>
                        </div>
                        
                        <div id="additional-info" class="additional-info-wrap d-none">
                            <label>Примечания к заказу</label>
                            <textarea maxlength="1000" type="text" name="notes" value="ok"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="your-order-area">
                        <h3>ВАШ ЗАКАЗ</h3>
                        <div class="your-order-wrap gray-bg-4">
                            <div class="your-order-info-wrap">
                                <div class="your-order-info">
                                    <ul>
                                        <li>товары и установка <span>итог</span></li>
                                    </ul>
                                </div>
                                <div class="your-order-middle">
                                    <!-- item.product.name|truncatewords:1 -->
                                    <ul>
                                        {% for item in cart %}
                                        <li class="border-bottom border-danger">
                                            {{ item.product.name }}
                                            <br><b>Товар: </b>
                                            <span>{{item.quantity}} &times; <b class="font-weight-normal format_currency">{{item.total_price}}</b></span>
                                            {% if item.price_install > 0 %}
                                            <br><b>Установка: </b>
                                            <span>{{item.quantity}} &times; <b class="font-weight-normal format_currency">{{item.price_install}}</b></span>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="your-order-info order-subtotal">
                                    <ul>
                                        <li>Подитог <span><b class="font-weight-normal format_currency">{{cart.get_total_price}}</b></span></li>
                                    </ul>
                                </div>
                                <div class="your-order-info order-shipping">
                                    <ul>
                                        <li>Тип доставки <p id="delivery_type"></p></li>
                                    </ul>
                                </div>
                                <div class="your-order-info order-total">
                                    <div id="hidden_gtand_total" hidden>{{cart.get_total_price}}</div>
                                    <ul>
                                        <li>Итог 
                                            <span id="order_grand_total">
                                            <b class="font-weight-normal format_currency">{{cart.get_total_price}}</b>
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                                <ul class="mt-3" style="font-size: 12px;">
                                    <li class="info_list_country"></li>
                                    <li class="info_list_region"></li>
                                    <!-- <li class="info_list_city"></li> -->
                                    <li class="info_list_pvz"></li>
                                    <li class="info_list_name"></li>
                                    <li class="info_list_phone"></li>
                                    <li class="info_list_email"></li>
                                    <li class="info_list_address"></li>
                                </ul>
                            </div>
                            <div id="payment-method" class="payment-method d-none">
                                <div class="pay-top sin-payment payment_method_1">
                                    <input id="payment_method_1" class="input-radio" name="payment_method" type="radio" value="0" name="payment_method" data-payment-method="Оплата при самовывозе">
                                    <label for="payment_method_1">оплата при самовывозе</label>
                                    <div class="payment-box payment_method_bacs">
                                        <p>Картой или наличными при самовывозе.</p>
                                    </div>
                                </div>
                                <div class="pay-top sin-payment payment-method-2">
                                    <input id="payment-method-2" class="input-radio" name="payment_method" type="radio" value="5" name="payment_method" data-payment-method="Оплата при получении товара (+5%)">
                                    <label for="payment-method-2">оплата при получении товара (+5%)</label>
                                    <div class="payment-box payment_method_bacs">
                                        <p>Картой или наличными при получении товара (+5%) от стоимости товара.</p>
                                    </div>
                                </div>
                                <div class="pay-top sin-payment">
                                    <input id="payment-method-3" class="input-radio" name="payment_method" type="radio" value="paynow" name="payment_method" data-payment-method="Оплата при оформлении заказа">
                                    <label for="payment-method-3">оплата при оформлении заказа</label>
                                    <div class="default_payment payment-box payment_method_bacs">
                                        <p>Банковской картой при оформлении заказа.</p>
                                    </div>
                                </div>
                                <div class="pay-top sin-payment sin-payment-3 policy">
                                    <input id="payment-method-4" class="input-radio" type="checkbox" name="policy" value="согласен(а)" checked>
                                    <label class="text-lowercase">Я прочитал(а) и принимаю&nbsp;<a class="text-danger" href="{% url 'shop:policy' %}">правила и условия сайта</a></label>
                                </div>
                            </div>
                        </div>
                        <div class="Place-order">
                            <button id="Place-order" type="submit" class="btn btn-danger bg-black btn-outline-none border-0 w-100 text-uppercase p-3 d-none">Оформить заказ</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block orderjs %}
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=38f393c8-f1fa-4b1a-a356-b8d9752ff229&amp;&lang=ru_RU" type="text/javascript"></script>
<script src="/static/shop/assets/js/order.js"></script>
{% endblock %}