{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Оформление заказа{% endblock %}
{% block content %}
<div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="{% url 'shop:home' %}">Главная</a>
                </li>
                <li class="active">Оформление заказа </li>
            </ul>
        </div>
    </div>
</div>
{% if errorMessage %}
<div class="alert alert-danger text-center" role="alert">
  {{errorMessage}}
</div>
{% endif %}

<div class="checkout-main-area pt-120 pb-120">
    <div class="container">        
        <div class="checkout-wrap pt-30">
            <div class="row pb-10 border-0">
                <div class="grand-totall col-lg-6 col-12 border-0 pt-0 pb-0" style="background-color: #fff;">
                    <div class="delivery-title border-0 pt-1">
                        <h3>Доставка</h3>
                    </div>
                    <div>
                        <div class="total-shipping border-0">
                            <h5>Тип доставки</h5>
                            <ul id="delivery_v">
                                <li><input type="radio" name="delivery_name" value="1"> До адреса клиента <span></span></li> 
                                <li><input type="radio" name="delivery_name" value="2"> Службой доставки СДЭК <span></span></li> 
                                <li class="help_text"><input type="radio" name="delivery_name" value="3"> Самовывоз <tt class="text-info">?</tt></li> 
                            </ul>
                            <div id="cdek_hidden" class="mt-20" hidden>
                                <div class="bg-danger mt-3 text-white text-center search_city_err_msg">
                                    <!-- error message -->
                                </div>
                                <!-- ser to style.css -->
                                <div id="ser" class="billing-info mb-20 pt-3 w-100">
                                    <label for="city">Точка назначения <abbr style="color: red;" class="required" title="required">*</abbr></label>
                                    <input class="bg-light text-dark form-control form-control-sm outline-none" maxlength="50" type="text" name="city" id="city" placeholder="Ваш город">
                                </div>
                                <div class="delivery_points_list d-none"></div>
                                <ul class="tariffs_list"></ul>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <!-- map -->
                    <div class="maps"></div>
                </div>
                
            </div>
            <div id="shoping_center" class="alert border h6 text-center text-danger d-none" role="alert">
               Товар можно забрать по адресу: г.Москва, ул.Щорса, д.8 стр.1 - автокомплекс<span class="h5"> "Buncar", ежедневно с 10 до 20, по предварительному согласованию.</span>
            </div>
            <form id="order_create" action="{% url 'shop:order_create' %}" method="post" class="row mt-20">
                {% csrf_token %}
                <input type="hidden" maxlength="100" name="delivery_type">
                <div class="col-lg-7">
                    <div class="billing-info-wrap mr-50">
                        <h3>ДЕТАЛИ ОПЛАТЫ</h3>
                        
                        <div id="client_info" class="row" hidden>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-20">
                                    <label for="first_name">Имя <abbr class="required" title="required">*</abbr></label>
                                    <input maxlength="50" type="text" name="first_name" id="first_name" placeholder="Ваше имя">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-20">
                                    <label for="last_name">Фамилия <abbr class="required" title="required">*</abbr></label>
                                    <input maxlength="50" type="text" name="last_name" id="last_name" placeholder="Ваша фамилия">
                                </div>
                            </div>
                            <div class="col-lg-12 field_hidden">
                                <div class="billing-info mb-20">
                                    <label for="country">Страна <abbr class="required" title="required">*</abbr></label>
                                    <select name="country" id="country" class="border-bottom border-secondary">
                                        <option value="">---</option>
                                        <option>Россия</option>
                                        <option>Беларусь</option>
                                        <option>Казахстан</option>
                                    </select>
                                    <!-- <input maxlength="50" type="text" name="country" id="country" placeholder="Страна" required> -->
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 field_hidden">
                                <div class="billing-info mb-20">
                                    <label for="region">Регион / район <abbr class="required" title="required">*</abbr></label>
                                    <input maxlength="100" type="text" name="region" id="region" placeholder="Пример: Приморский край">
                                </div>
                            </div>
                            <div class="col-lg-12 field_hidden">
                                <div class="billing-info mb-20">
                                    <label for="address">Адресс / Город, улица, дом, квартира <abbr class="required" title="required">*</abbr></label>
                                    <input maxlength="250" type="text" name="address" id="address" placeholder="Пример: г Владивосток, ул Авиаторов, д 2, кв 34">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 field_hidden">
                                <div class="billing-info mb-20">
                                    <label for="postal_code">Почтовый индекс <abbr class="required" title="required">*</abbr></label>
                                    <input maxlength="20" type="text" name="postal_code" id="postal_code">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="billing-info mb-20">
                                    <label for="phone">Телефон <abbr class="required" title="required">*</abbr></label>
                                    <input maxlength="100" type="text" name="phone" id="phone" style="padding-left: 50px;">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="billing-info mb-20">
                                    <label for="email">Email Address <abbr class="required" title="required">*</abbr></label>
                                    <input type="email" name="email" id="email">
                                </div>
                            </div>
                        </div>
                        
                        <div class="additional-info-wrap">
                            <label>Примечания к заказу</label>
                            <textarea maxlength="1000" type="text" name="notes" placeholder="Примечания"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="your-order-area">
                        <h3>ВАШ ЗАКАЗ</h3>
                        <div class="your-order-wrap gray-bg-4">
                            <div class="your-order-info-wrap">
                                <div class="your-order-info">
                                    <ul>
                                        <li>товары <span>итог</span></li>
                                    </ul>
                                </div>
                                <div class="your-order-middle">
                                    <ul>
                                        {% for item in cart %}
                                        <li data-toggle="tooltip" data-placement="top" title="{{item.product.name}}">{{ item.product.name|truncatewords:3 }} <b>({{item.quantity}})</b> <span>{{currency}}{{item.total_price}}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="your-order-info order-subtotal">
                                    <ul>
                                        <li>Подитог <span>{{currency}}{{cart.get_total_price}} </span></li>
                                    </ul>
                                </div>
                                <div class="your-order-info order-shipping">
                                    <ul>
                                        <li>Тип доставки <p id="delivery_type"></p></li>
                                    </ul>
                                </div>
                                <div class="your-order-info order-total">
                                    <div id="hidden_gtand_total" hidden>{{cart.get_total_price}}</div>
                                    <ul>
                                        <li>Итог <span id="order_grand_total">{{currency}}{{cart.get_total_price}} </span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="payment-method">
                                <div class="pay-top sin-payment">
                                    <input id="payment_method_1" class="input-radio" type="radio" value="cheque" checked="checked" name="payment_method">
                                    <label for="payment_method_1"> Direct Bank Transfer </label>
                                    <div class="payment-box payment_method_bacs">
                                        <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>
                                    </div>
                                </div>
                                <div class="pay-top sin-payment">
                                    <input id="payment-method-2" class="input-radio" type="radio" value="cheque" name="payment_method">
                                    <label for="payment-method-2">Check payments</label>
                                    <div class="payment-box payment_method_bacs">
                                        <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>
                                    </div>
                                </div>
                                <div class="pay-top sin-payment">
                                    <input id="payment-method-3" class="input-radio" type="radio" value="cheque" name="payment_method">
                                    <label for="payment-method-3">Cash on delivery </label>
                                    <div class="payment-box payment_method_bacs">
                                        <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>
                                    </div>
                                </div>
                                <div class="pay-top sin-payment sin-payment-3">
                                    <input id="payment-method-4" class="input-radio" type="radio" value="cheque" name="payment_method">
                                    <label for="payment-method-4">PayPal <img alt="" src="/static/shop/assets/images/icon-img/payment.png"><a href="#">What is PayPal?</a></label>
                                    <div class="payment-box payment_method_bacs">
                                        <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Place-order">
                            <button id="Place-order" type="submit" class="btn btn-danger bg-black btn-outline-none border-0 w-100 text-uppercase p-3 d-none">Оформить заказ</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.querySelector("#order_create").onsubmit = function(e) {
        // e.preventDefault()
    }
</script>
{% endblock %}