{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Спасибо за покупку{% endblock %}
{% block content %}
<div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="{% url 'shop:home' %}">Главная</a>
                </li>
                <li class="active">Спасибо за покупку</li>
            </ul>
        </div>
    </div>
</div>

<div class="shop-location pt-115 pb-115">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert text-center" role="alert">
                    <div class="h1">Спасибо за покупку!</div>
                    {% if paid %}
                        {% if order_id %}
                        <p class="h5">Номер вашего заказа <span class="text-danger">{{ order_id }}</span></p>
                        {% endif %}
                    {% else %}
                        {% if order_id %}
                        <p class="h5">Номер вашего заказа <span class="text-danger">{{ order_id }}</span></p>
                        {% endif %}
                    {% endif %}
                    <div><a class="btn btn-outline-danger" href="{% url 'shop:product_list' %}">Перейти в каталог</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}