<header class="header-area">
    <div class="header-large-device section-padding-2">
        <div class="header-top header-top-ptb-3 bg-black">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-3">
                        <div class="header-quick-contect">
                            <ul>
                                <li><i class="icon-phone "></i> +7 (495) 179-65-27</li>
                                <li><i class="icon-envelope-open "></i> INFO@ISOFIX-MSK.RU</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="header-offer-wrap-3 text-center">
                            <!-- <p>Free shipping worldwide for orders over $99 <a href="#">Learn More</a></p> -->
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="header-top-right">
                            <div class="social-hm4-wrap">
                                <span></span>
                                <div class="social-style-1 social-style-1-white">
                                    <a href="https://www.youtube.com/channel/UCk01i_mNnY9ap77iQIonltQ" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-odnoklassniki-square" aria-hidden="true"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="hm4-currency-language-wrap same-style-wrap">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container-fluid">
                <div class="border-bottom-6">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="{% url 'shop:home' %}"><img src="/static/shop/images/logo/logo_isofix.png"></a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-8">
                            <div class="main-menu main-menu-padding-1 main-menu-lh-3 main-menu-hm4 main-menu-center">
                                <nav>
                                    <ul>
                                        <li><a href="{% url 'shop:home' %}">ГЛАВНАЯ </a></li>
                                        <li><a href="{% url 'shop:shop_page' %}">ТОВАРЫ</a>
                                            <ul class="sub-menu-style">
                                               {% for category in categories %}
                                               <li>
                                                    <a href="{{category.get_absolute_url}}">{{category.name}} ISOFIX </a>
                                                </li>
                                               {% endfor %}
                                            </ul>
                                        </li>
                                        <li><a href="#">УСЛУГИ </a>
                                            <ul class="sub-menu-style">
                                                {% for service in get_services %}
                                                <li>
                                                    <a href="{{ service.get_absolute_url }}">{{ service.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li><a href="#">ИНФОРМАЦИЯ </a>
                                            <ul class="sub-menu-style">
                                                <li><a href="{% url 'shop:shipping_payment' %}">Доставка и оплата </a></li>
                                                <li><a href="{% url 'shop:policy' %}">Политика сайта </a></li>
                                                <li><a href="{% url 'shop:contact' %}">Контакты </a></li>
                                                <li><a href="{% url 'shop:about' %}">О Нас </a></li>
                                                
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'shop:post_list' %}">ОБЗОРЫ </a></li>
                                        <!-- <li><a href="#">ДОСТАВКА И ОПЛАТА </a></li>
                                        <li><a href="#">КОНТАКТЫ </a></li>
                                        <li><a href="#">О НАС </a></li> -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="header-action header-action-flex header-action-mrg-right">
                                <div class="header-cart-2">
                                    <a class="{% if not deactivate_mini_cart %}cart-active{% endif %} cart_info" href="{% url 'shop:cart_detail' %}">                                  
                                        <i class="icon-basket-loaded"></i>
                                        <img class="is_work mr-2 ml-1 {% if not is_install %}d-none{% endif %}" src="/static/shop/images/work.png">
                                        <span class="black">{{ cart|length }}</span>{{currency}}{{cart.get_total_price}}
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-small-device small-device-ptb-1 border-bottom-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-5">
                    <div class="mobile-logo">
                        <a href="{% url 'shop:home' %}">
                            <img alt="" src="/static/shop/images/logo/logo_isofix.png">
                        </a>
                    </div>
                </div>
                <div class="col-7">
                    <div class="header-action header-action-flex">
                        <div class="same-style-2 same-style-2-font-inc header-cart">
                            <a class="{% if not deactivate_mini_cart %}cart-active{% endif %} mini-cart cart_middle" href="{% url 'shop:cart_detail' %}">
                                <i class="icon-basket-loaded"></i>
                                <img height="20" class="is_work mr-0 ml-3 {% if not is_install %}d-none{% endif %}" src="/static/shop/images/work.png">
                                <span class="pro-count black">{{ cart|length }}</span>
                            </a>
                        </div>
                        <div class="same-style-2 main-menu-icon">
                            <a class="mobile-header-button-active" href="#"><i class="icon-menu"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>