{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Корзина{% endblock %}
{% block content %}
<div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="{% url 'shop:home' %}">Главная</a>
                </li>
                <li class="active">Корзина </li>
            </ul>
        </div>
    </div>
</div>
{{ request.session.grand_total }}
<div class="cart-main-area pt-115 pb-120">
    <div class="container" id="cart-container">
        {% if cart|length %}
        <h3 class="cart-page-title">Выбранные товары</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="table-content table-responsive cart-table-content">
                    <table>
                        <thead>
                            <tr>
                                <th>IMG</th>
                                <th>Наименование</th>
                                <th>За единицу</th>
                                <th>Кол-во</th>
                                <th>Итого</th>
                                <th>Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart %}
                            {% with product=item.product %}
                            <tr class="cart-detail-products">
                                <td class="product-thumbnail p-1">
                                    <a href="{{ product.get_absolute_url }}"><img class="w-100" src="{% if product.image_base %}{{ product.image_base.url }}{% else %}{{ no_image }}{% endif %}" alt=""></a>
                                </td>
                                <td class="product-name"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>
                                <td class="product-price-cart"><span class="amount">{{ currency }}{{ item.price }}</span></td>
                                <td class="product-quantity pro-details-quality">
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" type="text" name="qtybutton" value="{{ item.quantity }}" disabled>
                                    </div>
                                </td>
                                <td class="product-subtotal">{{ currency }}{{ item.total_price }}</td>
                                <td class="product-remove">
                                    <form action="{% url 'shop:cart_add' product.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="text" name="override" value="1" hidden>
                                        <input type="text" name="quantity" value="{{ item.quantity }}" hidden>
                                        <button title="обновить" type="submit" class="btn_update btn btn-success pb-1 border-0 btn-outline-none" data-update-url="{% url 'shop:cart_add' product.id %}">
                                            <i class="icon-refresh"></i>
                                        </button>
                                        <button title="удалить" type="submit" class="btn_remove btn btn-danger pb-1 border-0 btn-outline-none" data-delete-url="{% url 'shop:cart_remove' product.id %}">
                                            <i class="icon-close"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cart-shiping-update-wrapper">
                            <div class="cart-shiping-update">
                                <a href="{% url 'shop:product_list' %}">Продолжить покупки</a>
                            </div>
                            <div class="cart-clear">
                                <a href="{% url 'shop:cart_clear' %}">Очистить</a>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
                <div class="row">

                    
                    <div class="col-md-6">

<!--                         <div class="cart-tax">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gray">Стоимость доставки</h4>
                            </div>
                            <div class="tax-wrapper">
                                <p>Введите пункт назначения, чтобы рассчитать стоимость доставки.</p>
                                <div class="tax-select-wrapper">
                                    <div class="tax-select">
                                        <label>
                                            * Город
                                        </label>
                                        <input maxlength="50" type="text" name="city" id="city" placeholder="Ваш город" required>
                                    </div>
                                    <div class="tax-select">
                                        <label>
                                            * Region / State
                                        </label>
                                        <select class="email s-email s-wid">
                                            <option>Bangladesh</option>
                                            <option>Albania</option>
                                            <option>Åland Islands</option>
                                            <option>Afghanistan</option>
                                            <option>Belgium</option>
                                        </select>
                                    </div>
                                    <div class="tax-select">
                                        <label>
                                            * Zip/Postal Code
                                        </label>
                                        <input type="text">
                                    </div>
                                    <button class="cart-btn-2" type="submit">Get A Quote</button>
                                </div>
                            </div>
                        </div> -->
                    </div>

                    <div class="col-md-6">
                        <div class="grand-totall">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gary-cart">Итого</h4>
                            </div>
                            <h5 id="sub_total">Подитог <span>{{ currency }}{{ cart.get_total_price }}</span></h5>
                            <div class="total-shipping">
                                <h5>Стоимость доставки</h5>
                                <div id="ser" class="mb-20 pt-3 w-100">
                                    <input maxlength="50" type="text" name="city" id="city" placeholder="Ваш город" required>
                                </div>
                                <div id="search_city_err_msg" class="bg-danger text-white text-center">
                                    <!-- error message -->
                                </div>
                                <ul id="tariffs_list">
                                    <li><input data-delivery-name="standard" data-delivery-sum="0" type="radio" name="tariff_code" value="standard"> Standard <span>{{ currency }}0.00</span></li>
                                </ul>
                            </div>
                            <h4 id="grand_total" class="grand-totall-title GT">Итог <span>{{ currency }}{{ cart.get_grand_total_price }}</span></h4>
                            <a href="{% url 'shop:order_create' %}">Оформить заказ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="text-center">
	        <h3>Ваша корзина пуста</h3>
	        <a class="btn btn-danger" href="{% url 'shop:product_list' %}">Перейти к покупкам</a>
        </div>
        
        {% endif %}
    </div>
</div>
{% endblock %}