{% extends 'shop/base.html' %}
{% load static %}
{% load helpers %}
{% block title %}Корзина{% endblock %}
{% block content %}
<div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="{% url 'shop:home' %}">Главная</a>
                </li>
                <li class="active">Корзина </li>
            </ul>
        </div>
    </div>
</div>
<style>
    @media only screen and (max-width: 768px) {
        #fadeshow {
            display: none;
        }
    }
</style>
<div class="cart-main-area pt-115 pb-120">
    <div class="container" id="cart-container">
        {% if cart|length %}
        <h3 class="cart-page-title mb-4">Выбранные товары</h3>
        <div class="row row-cols-1 row-cols-lg-2">
          {% for item in cart %}
          {% with product=item.product %}
          <div class="col mb-4">
            <div class="card mb-3 cart-detail-products">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <a href="{{ product.get_absolute_url }}">
                    <img class="w-100 pl-1 pr-1 pt-4" src="{% if product.image_base %}{{ product.image_base.url }}{% else %}{{ no_image }}{% endif %}" alt="">
                  </a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title font-weight-bold">
                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    </h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Товар за еденицу:
                            <span style="position: absolute; right: 0;" class="font-weight-bold">
                                 {{ currency }}{{ item.price }}
                            </span>
                        </li>
                        <li class="list-group-item">Товар за всё:
                            <span style="position: absolute; right: 0;" class="product-subtotal text-danger font-weight-bold">
                                 {{ currency }}{{ item.total_price }}
                            </span>
                        </li>
                        <li class="list-group-item">Установка за единицу: 
                            <span style="position: absolute; right: 0;" class="font-weight-bold">
                            {% if item.price_install %}
                                {{ currency }}{{ item.price_install }}
                            {% else %}
                                {{ currency }}0
                            {% endif %}
                            </span>
                        </li>
                        <li class="list-group-item">Установка за всё: 
                            <span style="position: absolute; right: 0;" class="product-subtotal-install text-danger font-weight-bold">
                            {% if item.price_install %}
                                {{ currency }}{{ item.total_price_install }}
                            {% else %}
                                {{ currency }}0
                            {% endif %}
                            </span>
                        </li>
                    </ul>

                    <div class="product-quantity pro-details-quality text-center mt-3">
                        <div class="cart-plus-minus">
                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="{{ item.quantity }}" disabled>
                        </div>
                    </div>

                    <form action="{% url 'shop:cart_add' product.id %}" method="post" class="d-flex mt-2 justify-content-center">
                        {% csrf_token %}
                        <input type="text" name="override" value="1" hidden>
                        <input type="text" name="quantity" value="{{ item.quantity }}" hidden>
                        {% if item.price_install %}
                            <input checked type="checkbox" name="price_install" value="1" hidden>
                        {% else %}
                            <input checked type="checkbox" name="price_install" value="0" hidden>
                        {% endif %}

                        <div class="m-1">
                            <button type="submit" class="btn_update btn btn-success pb-1 border-0 btn-outline-none" data-update-url="{% url 'shop:cart_add' product.id %}">
                                Обновить
                            </button>
                        </div>

                        <div class="m-1">
                            <button type="submit" class="btn_remove btn btn-danger pb-1 border-0 btn-outline-none" data-delete-url="{% url 'shop:cart_remove' product.id %}">
                                Удалить
                            </button>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endwith %}
          {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row mt-2">                 
                    <div class="col-md-7">
                        <div class="cart-shiping-update-wrapper">
                            <div class="cart-shiping-update pt-0 mt-0">
                                <a href="{% url 'shop:product_list' %}">Каталог</a>
                                <a href="{% url 'shop:cart_clear' %}">Очистить</a>
                            </div>
                            <div class="cart-clear text-center">
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="grand-totall">
                            <div class="title-wrap mb-50">
                                <h4 class="cart-bottom-title section-bg-gary-cart">Итого</h4>
                            </div>
                            <h4 id="grand_total" class="grand-totall-title GT">Подитог <span>{{ currency }}{{ cart.get_total_price }}</span></h4>
                            <a href="{% url 'shop:order_create' %}">Оформить заказ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="text-center">
	        <h3>Ваша корзина пуста</h3>
	        <a class="btn btn-danger" href="{% url 'shop:product_list' %}">Перейти к покупкам</a>
        </div>
        
        {% endif %}
    </div>
</div>
{% endblock %}