{% extends 'shop/base.html' %}
{% load static %}
{% load helpers %}
{% block title %}Корзина{% endblock %}
{% block content %}

<div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="{% url 'shop:home' %}">Главная</a>
                </li>
                <li class="active">Корзина </li>
            </ul>
        </div>
    </div>
</div>
<style>
    @media only screen and (max-width: 768px) {
        #fadeshow {
            display: none;
        }
    }
</style>

<div class="cart-main-area pt-115 pb-120">
    <div class="container" id="cart-container">
        {% if cart|length %}
        <h3 id="scroll_to_cart_title" class="cart-page-title mb-4">Выбранные товары</h3>
        <!-- row-cols-lg-2 -->
        <div class="row row-cols-1">
          {% for item in cart %}
          {% with product=item.product %}
          <form action="" method="post" class="col mb-4 cart-detail-products"
            data-product-id="{{product.id}}" 
            data-product-attr="{{product.attribute}}"
            data-marker-url="{% url 'shop:set_loop_marker_on' product.id %}"
            data-marker-loop="{{item.loop}}">

            {% csrf_token %}
            {% if request.session.cart|get_key:product.id %}
            <input type="text" name="override" value="1" hidden>
            <input type="text" name="quantity" value="1" hidden>
            {% else %}
            <input type="text" name="override" value="0" hidden>
            <input type="text" name="quantity" value="1" hidden>
            {% endif %}

            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <a href="{{ product.get_absolute_url }}">
                    <img class="w-100" src="{% if product.image_base %}{{ product.image_base.url }}{% else %}{{ no_image }}{% endif %}" alt="">
                  </a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h4 class="card-title font-weight-bold">
                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    </h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">За еденицу:
                            <span style="position: absolute; right: 0;" class="font-weight-bold">
                                 1 x {{ currency }}{{ item.price }}
                            </span>
                        </li>
                        <li class="list-group-item">За все:
                            <span style="position: absolute; right: 0;" class="product-subtotal text-danger font-weight-bold">
                                 {{ item.quantity }} x {{ currency }}{{ item.total_price }}
                            </span>
                        </li>

                        {% if product.product_type == 'кронштейн' and product.attribute != 'loop' %}
                        <li class="item_install list-group-item font-weight-bold bg-light mt-1">
                            <span style="font-size: 16px;">Установка кронштейна: </span>
                                <input type="checkbox" class="form-check-input" name="price_install" value="1" class="d-loop"
                                style="
                                    max-width: 110px;
                                    max-height: 40px;
                                    zoom: 0.4;
                                    cursor: pointer;
                                " {% if item.total_price_install > 0 %} checked {% endif %}>
                            <br>
                            <span style="font-size: 16px;">Петля для якорного крепления: </span>
                                <input
                                id="add_anchor"
                                class="form-check-input"
                                type="checkbox" name="loop"
                                style="
                                    max-width: 80px;
                                    margin-left: -7px;
                                    max-height: 40px;
                                    zoom: 0.4;
                                    cursor: pointer;
                                " {% if request.session.cart|is_loop_install:product.id %} checked {% endif %}>
                        </li>
                        {% endif %}

                        {% if product.attribute == 'loop' %}
                        {% for i in cart %}
                        {% with p=i.product %}

                            {% if i.loop_quantity > 0 %}
                            <li class="list-group-item font-weight-bold"><span class="text-danger">Вместе с:</span> <i>{{p.name}}</i></li>
                            {% endif %}
                                                    
                        {% endwith %}
                        {% endfor %}
                        {% endif %}
                    </ul>
                    <div class="mt-20">
                        <div class="product-quantity pro-details-quality text-center mt-5">
                            <div class="cart-plus-minus">
                                <input class="cart-plus-minus-box" type="text" name="qtybutton" value="{{ item.quantity }}" disabled>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <div class="m-1">
                                <button type="submit" class="btn_update btn btn-dark btn-sm bg-black" data-update-url="{% url 'shop:cart_add' product.id %}">
                                    Обновить
                                </button>
                            </div>
                            <div class="spinner-border spinner-border-sm d-none spiner" role="status" aria-hidden="true"></div>
                            <div class="m-1">
                                <button type="submit" class="btn_remove btn btn-danger btn-sm" data-delete-url="{% url 'shop:cart_remove' product.id %}">
                                    Удалить
                                </button>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          {% endwith %}
          {% endfor %}


          {% if cart.get_products_install_total_price > 0 %}
          {% for item in cart %}
          {% with product=item.product %}

          {% if product.attribute != 'loop' %}
          <div class="col mb-4">
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <a href="{{ product.get_absolute_url }}">
                    <img class="w-100" src="{% if product.image_base %}{{ product.image_base.url }}{% else %}{{ no_image }}{% endif %}">
                  </a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h4 class="card-title font-weight-bold">
                        Установка кронштейна
                    </h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        </li>
                        <li class="list-group-item">За единицу:
                            <span style="position: absolute; right: 0;" class="font-weight-bold">
                                1 x {{ currency }}{{ item.price_install }}
                            </span>
                        </li>
                        <li class="list-group-item">За все:
                            <span style="position: absolute; right: 0;" class="product-subtotal text-danger font-weight-bold">
                                {{ item.quantity }} x {{ currency }}{{ item.total_price_install }}
                            </span>
                        </li>
                    </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

          {% endwith %}
          {% endfor %}
          {% endif %}


        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row mt-2">                 
                    <div class="col-md-7">
                        <div class="cart-shiping-update-wrapper">
                            <div class="cart-shiping-update pt-0 mt-0">
                                <a href="{% url 'shop:product_list' %}">Каталог</a>
                                <a href="{% url 'shop:cart_clear' %}">Очистить</a>
                            </div>
                            <div class="cart-clear text-center">
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="grand-totall">
                            <div class="title-wrap mb-50">
                                <h4 class="cart-bottom-title section-bg-gary-cart">Итого</h4>
                            </div>
                            <h4 id="grand_total" class="grand-totall-title GT">Подитог <span>{{ currency }}{{ cart.get_total_price }}</span></h4>
                            <a href="{% url 'shop:order_create' %}">Оформить заказ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="text-center">
	        <h3>Ваша корзина пуста</h3>
	        <a class="btn btn-danger" href="{% url 'shop:product_list' %}">Перейти к покупкам</a>
        </div>
        
        {% endif %}
    </div>
</div>

{% endblock %}