<!doctype html>
<html class="no-js" lang="ru-RU">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="robots" content="none" />
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/shop/assets/images/favicon.png">
    <!-- All CSS is here
    ============================================ -->
    <!-- <link rel="stylesheet" href="/static/shop/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/static/shop/assets/css/vendor/signericafat.css">
    <link rel="stylesheet" href="/static/shop/assets/css/vendor/cerebrisans.css">
    <link rel="stylesheet" href="/static/shop/assets/css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="/static/shop/assets/css/vendor/elegant.css">
    <link rel="stylesheet" href="/static/shop/assets/css/vendor/linear-icon.css">
    <link rel="stylesheet" href="/static/shop/assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/static/shop/assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="/static/shop/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="/static/shop/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="/static/shop/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/static/shop/assets/css/plugins/jquery-ui.css"> -->
    <link rel="stylesheet" href="/static/shop/assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/static/shop/assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="/static/shop/assets/js/inttel/css/intlTelInput.min.css">
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/shop/assets/css/style.css">
    <!-- Use the minified version files listed below for better performance and remove the files listed above
    
    <link rel="stylesheet" href="/static/shop/assets/css/style.min.css"> -->
    
    <style>
    .btn-outline-none:focus {
        border: none !important;
        box-shadow: none !important;
        outline: 0 none !important;
    }

    .outline-none:focus {
        border: 1px solid;
        box-shadow: none !important;
        outline: 0 none !important;
    }

    .shop-topbar-wrapper .product-sorting-wrapper .shorting-style select {
        -moz-appearance: none;
        -webkit-appearance: none;
        background: #fff url("/static/shop/assets/images/icon-img/shop.png") no-repeat scroll right 10px center;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #000000;
        cursor: pointer;
        font-size: 14px;
        height: 30px;
        padding-left: 10px;
        width: 170px;
    }

    .thumb-wrap {
        position: relative;
        padding-bottom: 56.25%;
        /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
        height: 0;
        overflow: hidden;
    }

    .thumb-wrap iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: 0;
        outline-width: 0;
    }
    img.note-float-left {
        padding: 0 20px 0 0;
    }
    img.note-float-right {
        padding: 0 0 0 20px;
    }

    .blog_post_detail_img_w100 p img {
        width: 100%;
    }

    .help_text:hover:after {
        font-style: oblique;
        color: maroon;
        content:" г. Москва, Солнцево, ул.Щорса, д.8 стр.1";
    }
    .delivery-title h3 {
      font-size: 20px;
      font-weight: 600;
      position: relative;
      margin: 0 0 45px;
      text-transform: uppercase;
    }

    .delivery-title h3:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: -12px;
      background-color: #ff2f2f;
      width: 50px;
      height: 2px;
    }
    </style>
</head>

<body>
    <div class="main-wrapper">
        {% include 'shop/includes/header.html' %}
        <!-- mobile header start -->
        {% include 'shop/includes/header_mobile.html' %}
        <!-- mini cart start -->
        {% include 'shop/includes/mini_cart.html' %}
        {% block content %}{% endblock %}
        {% include 'shop/includes/footer.html' %}
        <!-- Modal -->
        {% include 'shop/includes/modal.html' %}
        <!-- Modal end -->
    </div>
    <!-- All JS is here
============================================ -->
    <!-- <script src="/static/shop/assets/js/vendor/modernizr-3.6.0.min.js"></script> -->
    <script src="/static/shop/assets/js/vendor/jquery-3.5.1.min.js"></script>
    <!-- <script src="/static/shop/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script> -->
    <script src="/static/shop/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/static/shop/assets/js/plugins/slick.js"></script>
    <!-- <script src="/static/shop/assets/js/plugins/jquery.syotimer.min.js"></script> -->
    <!-- <script src="/static/shop/assets/js/plugins/jquery.instagramfeed.min.js"></script> -->
    <script src="/static/shop/assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="/static/shop/assets/js/plugins/wow.js"></script>
    <script src="/static/shop/assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="/static/shop/assets/js/plugins/jquery-ui.js"></script>
    <script src="/static/shop/assets/js/plugins/magnific-popup.js"></script>
    <script src="/static/shop/assets/js/plugins/sticky-sidebar.js"></script>
    <script src="/static/shop/assets/js/plugins/sticky-sidebar.js"></script>
    <!-- <script src="/static/shop/assets/js/plugins/easyzoom.js"></script> -->
    <script src="/static/shop/assets/js/plugins/scrollup.js"></script>
    <script src="/static/shop/assets/js/plugins/jquery.mask.min.js"></script>
    <script src="/static/shop/assets/js/inttel/js/intlTelInput-jquery.min.js"></script>
    <!-- <script src="/static/shop/assets/js/plugins/ajax-mail.js"></script> -->
    <!-- Use the minified version files listed below for better performance and remove the files listed above  
<script src="/static/shop/assets/js/vendor/vendor.min.js"></script>
<script src="/static/shop/assets/js/plugins/plugins.min.js"></script>  -->
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <!-- Main JS -->
    <script>
    var CSRF_TOKEN           = '{% csrf_token %}';
    var PRODUCT_LIST_URL     = "{% url 'shop:product_list' %}"
    var CART_INFO_JSON_URL   = "{% url 'shop:cart_json' %}"
    var FILTER_URL           = "{% url 'shop:product_filter' %}"
    var NO_IMAGE_URL         = "{{ no_image }}"
    var CURRENCY             = "{{ currency }}"
    var CDEK_CITY_URL             = "{% url 'shop:get_city' %}"
    var CDEK_TARIFFLIST_URL       = "{% url 'shop:tarifflist' %}"
    var CART_ADD_DELIVERY_TAX_URL = "{% url 'shop:add_delivery_tax' %}"
    var CART_ADD_PERCENT_URL      = "{% url 'shop:add_percent' %}"

    var token = "17a564feb19fabf1391ab53059b81a6a2012b9a9";
    $( function() {
        // $("#map").eq(0).css("all", "initial")
        // 55.645664,37.403028

        $("#Place-order").submit(function(e) {
            // add input grand total + field db
        })

        $("input[name=payment_method]").change(function(e) {

            function addPercent(percent) {
                // проценты к итоговой цене при оплате
                $.ajax({
                    url: CART_ADD_PERCENT_URL,
                    method: "POST",
                    data: {
                        "percent": percent,
                        "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val(),
                    },
                }).done(function(response) {
                    var response = JSON.parse(response)

                    if ("grand_total" in response) {
                        $("#order_grand_total").text(response["grand_total"])
                        console.log(response["grand_total"])
                    }

                    if ("error" in response) {
                        console.log(response["error"])
                    }
                })
            }

            $(".payment_method_bacs").addClass("payment-box")

            $(this).next().next().removeClass("payment-box")

            var val = parseInt($(this).val())
            if (val === 5) {
                addPercent(val)
            } else {
                addPercent(0)
            }
        })
        
        // вариации доставки
        $("input[name=delivery_name]").change(function(e) {

            var clientInfo = $("#client_info")
            var deliveryTypeInfoText = $("#delivery_type")
            // hidden input
            var hiddenInputDeliveryType = $("input[name=delivery_type]")

            // стартовая итоговоя цена
            $.ajax({
                url: CART_ADD_DELIVERY_TAX_URL,
                method: "POST",
                data: {
                    "delivery_tax": 0,
                    "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val(),
                },
            }).done(function(response) {
                var response = JSON.parse(response)

                if ("grand_total" in response) {
                    $("#order_grand_total").text(response["grand_total"])
                    console.log(response["grand_total"])
                }

                if ("error" in response) {
                    console.log(response["error"])
                }
            })
            
            $(".maps").addClass("d-none");
            $("#Place-order").removeClass("d-none")
            
            clientInfo.attr("hidden", true)

            $("#country").prop('required', false)
            $("#client_info input").each(function() {
                    this.required = false
            });
            $(".field_hidden").each(function() {
                $(this).find("input").prop("required", true)
                this.hidden = false
            })

            // До адреса клиента
            if ( parseInt($(this).val()) === 1 ) {
                clientInfo.attr("hidden", false)

                deliveryTypeInfoText.text("До адреса клиента")
                hiddenInputDeliveryType.val("До адреса клиента")

                $("#country").prop('required',true)
                $("#client_info input").each(function() {
                    this.required = true
                });
            }
            // Службой доставки СДЭК
            $("#cdek_hidden").prop("hidden", true)
            if ( parseInt($(this).val()) === 2 ) {
                clientInfo.attr("hidden", false)
                $("#cdek_hidden").prop("hidden", false)

                deliveryTypeInfoText.text("Службой доставки СДЭК")
                hiddenInputDeliveryType.val("Службой доставки СДЭК")

                $(".maps").removeClass("d-none");

                $("#country").prop('required', false)
                $("#client_info input").each(function() {
                    this.required = true
                });

                $(".field_hidden").each(function() {
                    $(this).find("input").prop("required", false)
                    this.hidden = true
                })
            }
            // Самовывоз
            $("#shoping_center").addClass("d-none")
            if ( parseInt($(this).val()) === 3 ) {
                clientInfo.attr("hidden", false)
                $("#shoping_center").removeClass("d-none")
                
                deliveryTypeInfoText.text("Самовывоз")
                hiddenInputDeliveryType.val("Самовывоз")

                $("#country").prop('required', false)
                $("#client_info input").each(function() {
                    this.required = true
                });

                $(".field_hidden").each(function() {
                    $(this).find("input").prop("required", false)
                    this.hidden = true
                })
            }

            $("input[name=delivery_name]").each(function() {
                if (!this.checked) {
                    this.parentElement.hidden = true
                }
            });
        });

        // cdek start
        // удаляет районы города и всё с 65 уровня
        var defaultFormatResult = $.Suggestions.prototype.formatResult;

        function formatResult(value, currentValue, suggestion, options) {
          var newValue = suggestion.data.country+', '+suggestion.data.city;
          suggestion.value = newValue;
          return defaultFormatResult.call(this, newValue, currentValue, suggestion, options);
        }

        function formatSelected(suggestion) {
          return suggestion.data.country+', '+suggestion.data.city;
        }

        function fetchDelivery(kladr_id) {
          var serviceUrl = "https://suggestions.dadata.ru/suggestions/api/4_1/rs/findById/delivery";
          var request = {
            "query": kladr_id
          };
          var params = {
            type: "POST",
            contentType: "application/json",
            headers: {
              "Authorization": "Token " + token
            },
            data: JSON.stringify(request)
          };
            return $.ajax(serviceUrl, params);
        }

// {
//     "delivery_sum": 240,
//     "period_min": 8,
//     "period_max": 12,
//     "calendar_min": 8,
//     "calendar_max": 12,
//     "weight_calc": 5000,
//     "total_sum": 288,
//     "currency": "RUB",
//     "tariff_code": "136",
//     "tariff_name": "Посылка склад-склад"
// }    

        function printErr(message) {
            $(".search_city_err_msg").text(message)
            setTimeout(function() {
                $(".search_city_err_msg").text("")
                $(".tariffs_list").html("<p>Ничего не найдено</p>")
            }, 3000)
        }

        function printTariffs(tariffs) {
            console.log(tariffs)
            var tariffs_list = $(".tariffs_list")
            var deliveryPoints = tariffs.pop()
            console.log(deliveryPoints)

            // if (tariffs["tariff_codes"]) {
            //     tariffs = tariffs["tariff_codes"]
            // }
            var tariffListHTML = "<h6 class='mt-0 pt-0 mb-2 text-danger'>Выбрать тип доставки</h6>"

            tariffs_loop:
            for (var i = 0; i < tariffs.length; i++) {
                // print tariff list
                if (tariffs[i]["errors"]) {
                    console.log(tariffs[i])
                    continue 
                }
                
                if ("delivery_sum" in tariffs[i]) {
                    var tariffName  = tariffs[i]["tariff_name"]
                    var periodMin   = tariffs[i]["period_min"]
                    var periodMax   = tariffs[i]["period_max"]
                    var calendarMin = tariffs[i]["calendar_min"]
                    var calendarMax = tariffs[i]["calendar_max"]
                    var deliverySum = tariffs[i]["delivery_sum"]
                    var weightCalc  = tariffs[i]["weight_calc"]
                    var totalSum    = tariffs[i]["total_sum"]
                    var currency    = tariffs[i]["currency"]
                    var tariffCode  = tariffs[i]["tariff_code"]

                    tariffListHTML += '<li>\
                    <input \
                    data-delivery-name="standard"\
                    data-delivery-sum="0"\
                    type="radio"\
                    name="tariff"\
                    value="'+ deliverySum +'"\
                    >'+ tariffName +' (до '+ periodMax +' дней) \
                    <span>'+ CURRENCY + deliverySum +'</span></li>'
                }
            }
            if (deliveryPoints.length) {
                $(".tariffs_list").html(tariffListHTML)

                // Пункты выдачи заказов
                var points = []
                var locations = []

                var deliveryPointsHTML = 
                '<label for="city">Пункты выдачи заказов <abbr style="color: red;" class="required" title="required">*</abbr></label>' 
                + '<select id="delivery_points" class="w-100 form-control form-control-sm outline-none">\
                <option>Выберите пункт</option>'
                for (var i = 0; i < deliveryPoints.length; i++) {
                    deliveryPointsHTML += '<option value="'+ deliveryPoints[i]["code"] +'">'+
                    deliveryPoints[i]["location"]["address_full"] +'</option>'

                    latitude = deliveryPoints[i]["location"]["latitude"]
                    longitude = deliveryPoints[i]["location"]["longitude"]
                    
                    points.push([latitude, longitude])
                    locations.push(deliveryPoints[i]["location"]["address_full"])
                }
                deliveryPointsHTML += "</select>"
                $(".delivery_points_list").removeClass("d-none")
                $(".delivery_points_list").html(deliveryPointsHTML)


                $(".maps").empty();
                // $(".maps").append('<h4 class="pt-20 pb-10 text-center">Пункты выдачи заказов</h4><div id="map"></div>')
                $(".maps").append(
                    "<div class='delivery-title border-0'>\
                        <h3>Пункты выдачи заказов</h3>\
                        <div id=\"map\"></div>\
                    </div>"
                )
                
                if (points.length > 0) {
                    DG.then(function () {
                        var map, group;
                        var markers = []    
                        
                        map = DG.map('map', {
                            center: points[0],
                            zoom: 10
                        });

                        
                        for (var i = 0; i < points.length; i++) {
                            if (points.length === locations.length) {
                                markers.push(DG.marker(points[i]).addTo(map).bindLabel(locations[i]))
                            } else {
                                markers.push(DG.marker(points[i]).addTo(map))
                            }
                        }

                        group = DG.featureGroup(markers);
                        group.addTo(map);
                        group.on('click', function(e) {
                            map.setView([e.latlng.lat, e.latlng.lng]);
                            console.log(map)
                        });
                    });

                    $("#delivery_points").change(function(e) {
                        for (var i = 0; i < deliveryPoints.length; i++) {
                            if (deliveryPoints[i]["code"] === $(this).val()) {
                                $(".maps").empty();
                                // $(".maps").append('<h4 class="pt-20 pb-10 text-center">Пункты выдачи заказов</h4><div id="map"></div>')
                                $(".maps").append(
                                    "<div class='delivery-title border-0'>\
                                        <h3>Пункты выдачи заказов</h3>\
                                        <div id=\"map\"></div>\
                                    </div>"
                                )

                                latitude = deliveryPoints[i]["location"]["latitude"]
                                longitude = deliveryPoints[i]["location"]["longitude"]

                                DG.then(function() {
                                    var map = DG.map('map', {
                                        center: [latitude, longitude],
                                        zoom: 18
                                    });

                                    DG.marker([latitude, longitude])
                                    .addTo(map)
                                    .bindPopup(deliveryPoints[i]["location"]["address_full"]);
                                });

                                break
                            }
                        }
                    });

                    // итоговая цена с учетом доставки
                    $("input[name=tariff]").change(function(e) {
                        var cdekDeliveryTax = this.value
                        var csrf = $("input[name=csrfmiddlewaretoken]")

                        $.ajax({
                            url: CART_ADD_DELIVERY_TAX_URL,
                            method: "POST",
                            data: {
                                "delivery_tax": cdekDeliveryTax,
                                "csrfmiddlewaretoken": csrf.val(),
                            },
                        }).done(function(response) {
                            var response = JSON.parse(response)

                            if ("grand_total" in response) {
                                $("#order_grand_total").text(response["grand_total"])
                            }

                            if ("error" in response) {
                                console.log(response["error"])
                            }
                        })
                    });
                }

            } else {
                $(".tariffs_list").html("<p>Ничего не найдено</p>")
            }
        }

        

        
        $("#city").suggestions({
          // token: token,
          // type: "ADDRESS",
          // hint: false,
          // bounds: "city",
          // formatResult: formatResult,
          // formatSelected: formatSelected,
          token: token,
          type: "ADDRESS",
          hint: false,
          bounds: "region-settlement",
          onSelect: function(suggestion) {
            console.log("START:", suggestion)
            $(".tariffs_list").html(
            '<div class="d-flex justify-content-center">\
                <div class="spinner-grow" role="status">\
                    <span class="sr-only">Loading...</span>\
                </div>\
            </div>')
            $(".delivery_points_list").addClass("d-none")

            var csrf = $("input[name=csrfmiddlewaretoken]")
            var city = suggestion["data"]["city_with_type"]
            var country_iso_code = suggestion["data"]["country_iso_code"]
            
            var request = {
                "csrfmiddlewaretoken": csrf.val(),
                'city': city,
                'country_iso_code': country_iso_code,
            }
            if (suggestion.data.kladr_id) {

                var kladr_id = suggestion.data.kladr_id;
                if (kladr_id.length > 13) {
                    // план. структура
                    kladr_id = kladr_id.substr(0, 11) + "00";
             
                }
                fetchDelivery(kladr_id)
                .done(function(response) {

                    if (response.suggestions.length === 0) {
                        printErr("Данное направление в службе СДЕК отсутствует.")
                        console.log("ONLY RU: ничего не найдено")
                        return
                    }

                    if (response.suggestions[0].data.cdek_id) {
                        request['cdek_id'] = response.suggestions[0].data.cdek_id
                        console.log("RU:", response.suggestions[0].data.cdek_id)
                        // получаем список тарифов
                        // ветка работает по России
                        // получаем калькуляцию по тарифам
                        $.ajax({
                            url: CDEK_TARIFFLIST_URL,
                            method: "POST",
                            headers: { 'X-Requested-With': 'XMLHttpRequest' },
                            data: request,
                        }).done(function(response) {
                            try {
                                var response = JSON.parse(response)
                                // console.log("ONLY RU CALC RESULT:", response)
                            } catch(err) {
                                console.log(err)
                                return
                            }
                            // получен результат в расчетом
                            printTariffs(response)
                        }).fail(function() {});

                    }
                })
                .fail(function() {})
            } else {

                // пытаемся получить данные о населенном пункте
                // страны RU, BY, KZ - только города, если не найден cdek_id
                $.ajax({
                    url: CDEK_CITY_URL,
                    method: "POST",
                    headers: { 'X-Requested-With': 'XMLHttpRequest' },
                    data: request,
                })
                .done(function(response) {
                    try {
                        var response = JSON.parse(response)
                        if (response.length !== 1) {
                            printErr("Данное направление в службе СДЕК отсутствует.")
                            console.log("ONLY RU BY KZ: Ничего не найдено")
                            return
                        }
                        // console.log("ONLY RU BY KZ", response)
                    } catch(err) {
                        console.error(err)
                        return
                    }

                    var cdek_id = response[0]["code"]
                    city = response[0]["city"]
                    country_iso_code = response[0]["country_code"]
                    console.log("RU BY KZ", city, cdek_id)
                    // получаем калькуляцию по тарифам
                    $.ajax({
                        url: CDEK_TARIFFLIST_URL,
                        method: "POST",
                        headers: { 'X-Requested-With': 'XMLHttpRequest' },
                        data: {
                            "csrfmiddlewaretoken": csrf.val(),
                            "cdek_id": cdek_id,
                            "city": city,
                            "country_iso_code": country_iso_code,
                        },
                    })
                    .done(function(response) {
                        try {
                            var response = JSON.parse(response)
                            // console.log("ONLY RU BY KZ: CALC RESULT", response)
                        } catch(err) {
                            console.log(err)
                            return
                        }
                        // получен результат в расчетом
                        printTariffs(response)
                    })
                    .fail(function() {});
                })
                .fail(function() {});
            }
          },
          constraints: {
             locations: [
                { country_iso_code: "RU" },
                { country_iso_code: "BY" },
                { country_iso_code: "KZ" },
             ],
          },
        });
        // cdek end
    


        // order create start
        // Инициализирует подсказки по ФИО на указанном элементе
        function init($surname, $name) {
          var self = {};
          self.$surname = $surname;
          self.$name = $name;
          
          var fioParts = ["NAME", "SURNAME"];
          $.each([$surname, $name], function(index, $el) {
            var sgt = $el.suggestions({
              token: "17a564feb19fabf1391ab53059b81a6a2012b9a9",
              type: "NAME",
              triggerSelectOnSpace: false,
              hint: "",
              noCache: true,
              params: {
                // каждому полю --- соответствующая подсказка
                parts: [fioParts[index]]
              },
            });
          });
        };


        init($("#first_name"), $("#last_name"));

        // // Город, улица, дом, квартира
        $("#address").suggestions({
          token: "17a564feb19fabf1391ab53059b81a6a2012b9a9",
          type: "ADDRESS",
          onSelect: function(suggestion) {
            $("#postal_code").val(suggestion['data']['postal_code'])
          },
          constraints: {
             locations: [
                { country_iso_code: "RU" },
                { country_iso_code: "BY" },
                { country_iso_code: "KZ" },
             ],
          },
        });

        // $("#country").suggestions({
        //     token: "17a564feb19fabf1391ab53059b81a6a2012b9a9",
        //     type: "country",
        //     onSelect: function(suggestion) {}
        // });

        $("#region").suggestions({
            token: "17a564feb19fabf1391ab53059b81a6a2012b9a9",
            type: "ADDRESS",
            onSelect: function(suggestion) {},
            constraints: {
             locations: [
                { country_iso_code: "RU" },
                { country_iso_code: "BY" },
                { country_iso_code: "KZ" },
             ],
          },
        });

        $("#postal_code").suggestions({
            token: "17a564feb19fabf1391ab53059b81a6a2012b9a9",
            type: "postal_unit"
        });

        $("#email").suggestions({
            token: "17a564feb19fabf1391ab53059b81a6a2012b9a9",
            type: "EMAIL",
            onSelect: function(suggestion) {}
        });
        // order create end
    });
    </script>
    <script src="/static/shop/assets/js/main.js"></script>
</body>

</html>