{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Установка ISOFIX на переднее сиденье &bull; ISOFIX-MSK{% endblock %}
{% block description %}Услуги по разработке, изготовлению и установке кронштейнов ISOFIX для крепления детских автокресел на переднее, задние пассажирские и сидения третьего ряда{% endblock %}
{% block keywords %}кронштейны, рейки, установка, разработка, нового, isofix{% endblock %}

{% block content %}
<div class="slider-area">
    <div class="hero-slider-active-1 nav-style-1 dot-style-2 dot-style-2-position-2 dot-style-2-active-black">
        <div class="single-hero-slider single-animation-wrap slider-height-2 custom-d-flex custom-align-item-center bg-img hm2-slider-bg res-white-overly-xs" style="background-image:url(/static/shop/assets/images/slider/hm-4-slider-1.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slider-content-4 slider-animated-1">
                            <h4 class="animated">ISOFIX</h4>
                            <!-- <h1 class="animated">Denim Mixed <br>Layering Combine <br>collect</h1> -->
                            <h1 class="animated">Кронштейны ISOFIX<br>на передние и задние<br>сиденья</h1>
                            <p class="animated">Для самостоятельной установки.<br>Конструкции по маркам машины.</p>
                            <div class="btn-style-1">
                                <a class="animated btn-1-padding-1" href="product-details.html">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-hero-slider single-animation-wrap slider-height-2 custom-d-flex custom-align-item-center bg-img hm2-slider-bg res-white-overly-xs " style="background-image:url(/static/shop/assets/images/slider/hm-4-slider-2.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slider-content-4 slider-animated-1">
                            <h4 class="animated">ISOFIX</h4>
                            <h1 class="animated">Рейки ISOFIX<br>для заднего сиденья</h1>
                            <p class="animated">
                                Для размещения до трех кресел на заднем сиденье.<br>
                                Для размещения двух кресел и взрослого человека.
                            </p>
                            <div class="btn-style-1">
                                <a class="animated btn-1-padding-1" href="product-details.html">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-hero-slider single-animation-wrap slider-height-2 custom-d-flex custom-align-item-center bg-img hm2-slider-bg res-white-overly-xs " style="background-image:url(/static/shop/assets/images/slider/hm-4-slider-2.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slider-content-4 slider-animated-1">
                            <h4 class="animated">Lookbook</h4>
                            <h1 class="animated">Установка ISOFIX<br> на любые сиденья</h1>
                            <p class="animated">
                                Установка кронштейнов в установочном центре<br>
                                Подбор и разработка новых моделей
                            </p>
                            <div class="btn-style-1">
                                <a class="animated btn-1-padding-1" href="product-details.html">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Содержание -->
<div class="about-us-area pt-85">
    <div class="container">
        <div class="about-content-pb pb-0">
            <div class="row">
                <div class="col-lg-1 col-md-1">
                </div>
                <div class="col-lg-11 col-md-11">
                    <div class="about-us-content">
                        <h3>Содержание</h3>
                        <div class="text-justify text-secondary">
                            <p>Norda store is a business concept is to offer fashion and quality at the best price. It has since it was founded in 2018 grown into one of the best WooCommerce Fashion Theme. The content of this site is copyright-protected and is the property of David Moye Creative.</p>
                            <p>Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Eum quibusdam ipsa officia repellendus praesentium harum voluptatem quisquam iure deserunt ea.</p>
                        </div>
                        <p>
                            <a class="text-dark" href="#t1">- Компания ISOFIX-MSK</a><br>
                            <a class="text-dark" href="#t2">- Что такое ISOFIX</a><br>
                            <a class="text-dark" href="#t3">- Кронштейны ISOFIX на любую машину</a><br>
                            <a class="text-dark" href="#t4">- Приспособления для установки нескольких автокресел на заднее сиденье</a><br>
                            <a class="text-dark" href="#t5">- Центр по установке креплений ISOFIX</a><br>
                            <a class="text-dark" href="#t6">- Детская безопасность в машине</a><br>
                            <a class="text-dark" href="#t7">- График работы и контакты</a><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Содержание -->
<!-- Компания ISOFIX-MSK -->
<div class="about-us-area pt-85">
    <div class="container">
        <div class="about-content-pb pb-0">
            <div class="row">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-11 col-md-11">
                    <div class="about-us-content">
                        <h3 id="t1">Компания ISOFIX-MSK</h3>
                        <div class="text-justify text-secondary">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse, reiciendis reprehenderit ab corporis itaque fugit sapiente rerum impedit sequi. Accusamus laboriosam unde dicta earum soluta iste perspiciatis, ex nam saepe? Similique odit fugit architecto aliquam magni, facere ipsa eligendi necessitatibus!</p>
                        </div>
                        <p class="text-center thumb-wrap video-first"></p>
                    </div>
                </div>
            </div>
            <!--             <div class="row">
                <div class="col-12 text-center thumb-wrap video-first">
                    <iframe src="https://www.youtube.com/embed/sFqMX_tBUCs" title="Компания ISOFIX-MSK" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- end Компания ISOFIX-MSK -->
<!-- Что такое ISOFIX -->
<div class="about-us-area pt-85">
    <div class="container">
        <div class="about-content-pb pb-0">
            <div class="row">
                <div class="col-lg-1 col-md-1">
                </div>
                <div class="col-lg-11 col-md-11">
                    <div class="about-us-content">
                        <h3 id="t2">Что такое ISOFIX</h3>
                        <div class="text-justify text-secondary">
                            <p>Короткий текст о изофикс, с действующего сайта, немного его подправлю</p>
                            <p>
                                Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Quaerat ut perspiciatis autem blanditiis, veritatis doloremque placeat, reprehenderit aperiam voluptate eius nemo modi saepe eos temporibus fugiat sed debitis quam soluta!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vel quidem eos unde impedit sed quia voluptas molestiae cum blanditiis consequatur, doloremque explicabo, quis quo reprehenderit libero eligendi totam aut.
                                Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Quas, in. Dolor labore, nulla inventore iure deserunt assumenda, autem enim porro.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end  Что такое ISOFIX -->
<!-- Кронштейны ISOFIX на любую машину -->
<div class="about-us-area pt-85">
    <div class="container">
        <div class="about-content-pb pb-0">
            <div class="row">
                <div class="col-lg-1 col-md-1">
                </div>
                <div class="col-lg-11 col-md-11">
                    <div class="about-us-content">
                        <h3 id="t3">Кронштейны ISOFIX на любую машину</h3>
                        <div class="text-justify text-secondary">
                            <p>Короткий текст что у нас разработано много кронштейнов, немного про технологию изготовления (в большей части дублируем информацию абзаца</p>
                            <p>
                                Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Quaerat ut perspiciatis autem blanditiis, veritatis doloremque placeat, reprehenderit aperiam voluptate eius nemo modi saepe eos temporibus fugiat sed debitis quam soluta! Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae earum totam quis quam magnam praesentium excepturi, rem voluptas minus ipsam perferendis quaerat ipsum sit pariatur deserunt voluptate laborum vel iure numquam suscipit neque labore eos nostrum corporis! Impedit quia, beatae.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vel quidem eos unde impedit sed quia voluptas molestiae cum blanditiis consequatur, doloremque explicabo, quis quo reprehenderit libero eligendi totam aut.
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. A totam rerum cumque, cupiditate ea assumenda quis sit? Dolorem, maxime, animi.
                                <div class="row">
                                    <div class="col-lg-4 col-sm-12 col-12">
                                        <a class="w-100 btn btn-danger btn-lg btn-block" href="{% url 'shop:product_list' %}">Кронштейны</a>
                                    </div>
                                </div>
                            </p>
                            <p class="h6">
                                Текст что готовы выполнить разработку кронштейнов на любую машина
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vel quidem eos unde impedit sed quia voluptas molestiae cum blanditiis consequatur, doloremque explicabo, quis quo reprehenderit libero eligendi totam aut.
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. A totam rerum cumque, cupiditate ea assumenda quis sit? Dolorem, maxime, animi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end input -->
<!-- Приспособления для установки нескольких автокресел на заднее сиденье -->
<div class="about-us-area pt-85">
    <div class="container">
        <div class="about-content-pb pb-20">
            <div class="row">
                <div class="col-lg-1 col-md-1">
                </div>
                <div class="col-lg-11 col-md-11">
                    <div class="about-us-content">
                        <h3 id="t4">Приспособления для установки нескольких <br>автокресел на заднее сиденье</h3>
                        <div class="text-justify text-secondary">
                            <p>
                                Короткий текст что разрабатываем производим рейки под различные вариации размещения кресел Lorem ipsum, dolor sit amet consectetur adipisicing, elit. Voluptate unde, quam adipisci. Praesentium hic, laudantium neque magnam cumque libero magni, sint placeat dicta veritatis ad voluptates quia omnis quibusdam? Perspiciatis.
                                <div class="row">
                                    <div class="col-lg-4 col-sm-12 col-12">
                                        <a class="w-100 btn btn-danger btn-lg btn-block" href="#">Рейки</a>
                                    </div>
                                </div>
                            </p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus ducimus aliquid iste a explicabo at eligendi, inventore mollitia distinctio cupiditate?</p>
                            <p class="text-center thumb-wrap video-second"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--             <div class="row">
                <div class="col-12 text-center thumb-wrap video-second">
                    <iframe src="https://www.youtube.com/embed/NtOjU7BhsHA" title="Приспособления для установки нескольких автокресел на заднее сиденье" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- end Приспособления для установки нескольких автокресел на заднее сиденье -->
<!-- Центр по установке креплений ISOFIX -->
<div id="t5" class="deal-area pt-150 pb-130 bg-img" style="background-image:url(/static/shop/assets/images/bg/bg-1.jpg);">
    <div class="container">
        <div class="deal-content-1">
            <span>Работаем 24/7</span>
            <h2>Центр по установке креплений <br> <span>ISOFIX</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipis elit. Nunc imperdiet, nulla.</p>
            <div class="timer-wrap">
                <h4>Expires in:</h4>
                <div class="timer-style-1 syotimer" id="timer-1-active">
                    <div class="syotimer__head"></div>
                    <div class="syotimer__body">
                        <p style="font-size: 1.2em;">The countdown is finished!</p>
                    </div>
                    <div class="syotimer__footer"></div>
                </div>
            </div>
            <div class="deal-btn">
                <!-- <a href="product-details.html">Buy now</a> -->
            </div>
        </div>
    </div>
</div>
<!-- end Центр по установке креплений ISOFIX -->
<!-- Детская безопасность в машине -->
<div class="about-us-area pt-150">
    <div class="container">
        <div class="about-content-pb">
            <div class="row">
                <div class="col-lg-1 col-md-1">
                </div>
                <div class="col-lg-11 col-md-11">
                    <div class="about-us-content">
                        <h3 id="t6">Детская безопасность в машине</h3>
                        <div class="text-justify text-secondary">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quo voluptas tempora modi porro recusandae sapiente, expedita, quam, quae sequi praesentium inventore tenetur repellat blanditiis ex explicabo harum eum consequatur?
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quo voluptas tempora modi porro recusandae sapiente, expedita, quam, quae sequi praesentium inventore tenetur repellat blanditiis ex explicabo harum eum consequatur?
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quo voluptas tempora modi porro recusandae sapiente, expedita, quam, quae sequi praesentium inventore tenetur repellat blanditiis ex explicabo harum eum consequatur?
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quo voluptas tempora modi porro recusandae sapiente, expedita, quam, quae sequi praesentium inventore tenetur repellat blanditiis ex explicabo harum eum consequatur?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Детская безопасность в машине -->
<!-- График работы и контакты -->
<div class="about-us-area pt-85">
    <div class="container">
        <div class="about-content-pb">
            <div class="row">
                <div class="col-lg-1 col-md-1">
                </div>
                <div class="col-lg-11 col-md-11">
                    <div class="about-us-content">
                        <h3 id="t7">График работы и контакты</h3>
                        <p class="text-dark font-weight-bold">
                            <i class="text-danger icon-location-pin "></i>
                            <span class="pl-2">г. Москва, Солнцево, ул.Щорса, д.8 стр.1 – автокомплекс “Buncar”</span>
                        </p>
                        <p>
                            Автокомплекс расположен в действующем бомбоубежище под жилым домом, заезд с правого торца дома если стоять лицом к подъездам, от торца поверните направо, через 30 м развернитесь на 180 градусов под железную арку, спуск между белыми стенками под дом.
                        </p>
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-12">
                                <h5 class="h5 font-weight-bold">
                                    <i class="text-danger icon-clock "></i>
                                    <span class="pl-2">Режим работы</span></h5>
                                <p>
                                    ПН и СР с 20:00-23:00,
                                    СБ с 10:00-22:00,<br>
                                    По предварительному звонку
                                </p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-12">
                                <h5 class="h5 font-weight-bold">
                                    <i class="text-danger icon-screen-smartphone"></i>
                                    <span class="pl-2">Телефон</span></h5>
                                <p>
                                    +7 (495) 179-65-27
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <h5 class="h5 font-weight-bold">
                                    <i class="text-danger icon-envelope "></i>
                                    <span class="pl-2">Почта</span></h5>
                                <p>
                                    INFO@ISOFIX-MSK.RU
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end График работы и контакты -->

<div class="blog-area pt-60 pb-175">
    <div class="container">
        <div class="section-title-tab-wrap mb-55">
            <div class="section-title-4">
                <h2>Статьи</h2>
            </div>
            <div class="btn-style-6 ml-60">
                <a href="{% url 'shop:post_list' %}">Все статьи</a>
            </div>
        </div>
        <div class="d-flex flex-nowrap" style="overflow-x: scroll;">
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="blog-wrap mb-30">
                    <div class="blog-img mb-25">
                        <a href="blog-details.html"><img src="/static/shop/assets/images/blog/blog-2.jpg" alt="blog-img"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul>
                                <li><a href="#">Inspiration </a></li>
                                <li>May 25, 2020</li>
                            </ul>
                        </div>
                        <h3><a href="blog-details.html">Basic colord mixed - trendind 2020</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="blog-wrap mb-30">
                    <div class="blog-img mb-25">
                        <a href="blog-details.html"><img src="/static/shop/assets/images/blog/blog-3.jpg" alt="blog-img"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul>
                                <li><a href="#">Lookbook </a></li>
                                <li>May 25, 2020</li>
                            </ul>
                        </div>
                        <h3><a href="blog-details.html">Calvin Klein Shoes Collection 2020, Activites Summer</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="blog-wrap mb-30">
                    <div class="blog-img mb-25">
                        <a href="blog-details.html"><img src="/static/shop/assets/images/blog/blog-1.jpg" alt="blog-img"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul>
                                <li><a href="#">News </a></li>
                                <li>May 25, 2020</li>
                            </ul>
                        </div>
                        <h3><a href="blog-details.html">Five things you only know if you’re at Chanel's Hamburg Show</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="blog-wrap mb-30">
                    <div class="blog-img mb-25">
                        <a href="blog-details.html"><img src="/static/shop/assets/images/blog/blog-2.jpg" alt="blog-img"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul>
                                <li><a href="#">Inspiration </a></li>
                                <li>May 25, 2020</li>
                            </ul>
                        </div>
                        <h3><a href="blog-details.html">Basic colord mixed - trendind 2020</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="blog-wrap mb-30">
                    <div class="blog-img mb-25">
                        <a href="blog-details.html"><img src="/static/shop/assets/images/blog/blog-3.jpg" alt="blog-img"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul>
                                <li><a href="#">Lookbook </a></li>
                                <li>May 25, 2020</li>
                            </ul>
                        </div>
                        <h3><a href="blog-details.html">Calvin Klein Shoes Collection 2020, Activites Summer</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}