{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Можно ли возить ребенка в автокресле на переднем сиденье автомобиля &bull; ISOFIX-MSK{% endblock %}

{% block content %}
<div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="{% url 'shop:home' %}">Главная</a>
                </li>
                <li class="active">ПДД и Дети </li>
            </ul>
        </div>
    </div>
</div>
<div class="container mt-60">
	<div class="row">
		<div class="col-12">
			<h1 class="text-center mb-50">
				Правила перевозки детей в автомобилях<br><span class="h3"> отражены в пункте 22.9 актуальной редакции <a class="text-danger" href="https://pdd-russia.com/pdd-russia/pdd/pdd/russia.html">правил дорожного движения</a></span>
			</h1>
		</div>
		<div class="col-12 text-center mb-10">
			<p>
				<img src="/static/shop/images/logo/logo_isofix.png">	
			</p>
		</div>
		<div class="col-lg-4 text-center">
			<p class="h5 text-danger font-weight-bold mt-20">
				РЕБЁНОК ДОЛЖЕН <br> БЫТЬ В АВТОКРЕСЛЕ
			</p>
		</div>
		<div class="col-lg-4 text-center">
			<p class="h5 text-danger font-weight-bold mt-20">
				САМАЯ ПРОСТАЯ НАДЁЖНАЯ И БЕЗОПАСНАЯ СИСТЕМА ФИКСАЦИИ АВТОКРЕСЕЛ
			</p>
		</div>
		<div class="col-lg-4 text-center">
			<p class="h5 text-danger font-weight-bold mt-20">
				ФИКСИРУЙТЕ КРЕСЛО<br>ПРАВИЛЬНО!
			</p>
		</div>
		<div class="col-lg-11 text-justify about-us-content mt-30 m-auto">
			<p class="p-0">
				22.9. Перевозка детей в возрасте младше 7 лет в легковом автомобиле и кабине грузового автомобиля, конструкцией которых предусмотрены ремни безопасности либо ремни безопасности и детская удерживающая система ISOFIX*, должна осуществляться с использованием детских удерживающих систем (устройств) (автокресла, автолюльки — прим. ISOFIX-MSK), соответствующих весу и росту ребенка.
				<br><br>
				Наименование детской удерживающей системы ISOFIX приведено в соответствии с Техническим регламентом Таможенного союза ТР РС 018/2011 «О безопасности колесных транспортных средств».
				<br><br>
				Перевозка детей в возрасте от 7 до 11 лет (включительно) в легковом автомобиле и кабине грузового автомобиля, конструкцией которых предусмотрены ремни безопасности либо ремни безопасности и детская удерживающая система ISOFIX, должна осуществляться с использованием детских удерживающих систем (устройств), соответствующих весу и росту ребенка, или с использованием ремней безопасности, а на переднем сиденье легкового автомобиля — только с использованием детских удерживающих систем (устройств), соответствующих весу и росту ребенка.
			</p>
			<p>
				Таким образом правила разрешают возить детей спереди, при условии что они будут находиться в надежно зафиксированном автокресле или люльке в соответствии с руководством по эксплуатации указанных систем (устройств).
			</p>
			<p>
				Отмечаем, что в ПДД выделена детская удерживающая система ISOFIX как механизм удержания автокресел на ровне с штатными ремнями безопасности
			</p>
			<p>
				C 12.07.2017 согласно пункту 3 ст. 12.23 КоАП РФ перевозка детей до 12-ти лет на переднем сиденье автомобиля оснащенного ремнями безопасности по правилам дорожного движения возможна исключительно при использовании специального удерживающего устройства (автокресло или автолюлька).
			</p>
			<p>
				Надежно устанавливая детское автокресло в кронштейны изофикс на переднее сиденье Вы соблюдаете требования ПДД.
				<br>
				Обращаем внимание что штраф за неправильную перевозку детей предусмотрен <a class="text-danger" href="https://koapru.ru/statja-12.23/">частью 3 статьи 12.23 КоАП</a>: в размере 3000 рублей
			</p>
		</div>

		<div class="col-12">
			<h2 class="text-center">
				Со скольких лет детям можно ездить на переднем сидении
			</h2>
		</div>
		<div class="col-lg-11 text-justify about-us-content m-auto">
			<p class="p-0">Правила дорожного движения не устанавливают ограничения по возрасту при перевозке детей на переднем сиденье, поэтому детей спереди можно возить с самого рождения, при условии что удерживающая система соответствует возрасту ребенка.
			</p>
			<p>
				Обратите внимание на возраст, до которого необходимо использование  удерживающих устройств спереди — включительно до 11 лет. «Включительно» означает, что в 11-ый год ребенок все еще является ребенком и только в 12-й день рождения он переходит в разряд взрослых.
			</p>
			<p class="h5 text-danger font-weight-bold">
				Что делать если в машине нет удерживающей системы ISOFIX или Вы хотите установить ее на переднее сидение?
			</p>
			<p>
				<a href="{% url 'shop:shop_page' %}" class="block w-100 btn btn-danger">ПОДОБРАТЬ КРЕПЛЕНИЕ</a>
			</p>
		</div>

		<div class="col-12 mt-100">
			<h1 class="text-center">
				Безопасность перевозки детей спереди<br><span class="h3"> Правила безопасной перевозки детей спереди в креслах с ISOFIX:</span>
			</h1>
		</div>
		<div class="col-lg-11 text-justify about-us-content m-auto mb-100">
			<p class="p-0 h5 text-danger font-weight-bold">
				ISOFIX применяется в группах детских автокресел 0+, 1 и 2/3.
			</p>
			<p>
				1. В случае установки автолюльки группы +0 лицом в салон ОБЯЗАТЕЛЬНО отключение подушки безопасности.
			</p>
			<p>
				2. При установке кресел всех групп лицом по ходу движения рекомендуется отключение подушки безопасности но это не является обязательным требованием. Если отключение подушки безопасности отключить невозможно — переднее пассажирское сиденье необходимо отодвигать максимально назад (до упора), что бы в случае срабатывания подушки ребенок оказался вне зоны ее досягаемости. Компания ISOFIX-MSK оказывает услугу по безопасному программному отключению подушки безопасности на машинах, где это не предусмотрено.
			</p>
			<p>
				3. При перевозке детей весом от 5 до 15 кг в креслах группы 0+ и 1 ребенок пристегивается встроенными в кресла пятиточечными ремнями безопасности. Для дополнительной защиты рекомендуем использовать автокресла с третьей точкой опоры — выдвижной упор в пол в виде телескопической “ноги”, выходящий из основания автокресла, или якорное крепление. Третья точка опоры препятствует вращению автокресла и снижает нагрузку
			</p>
			<p>
				4. При перевозке детей весом от 15 до 36 кг в креслах группы 2/3 крепление ISOFIX является вспомогательным средством, ребенок пристегивается штатной системой ремней безопасности автомобиля. Важно что бы автокресла данной группы имели схему крепления штатным ремнем.
			</p>
			<p>
				5. Применение бустера или треугольного адаптера на переднем сидении запрещено, поскольку обычные ремни для фиксация малолетних пассажиров рассчитаны на рост взрослого человека от 150 см и могут нанести увечья при столкновении или экстренном торможении.
			</p>
		</div>
	</div>
</div>
{% endblock %}