{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Видео обзоры isofix{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block content %}
<div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="{% url 'shop:home' %}">Главная</a>
                </li>
                <li class="active">Видео</li>
            </ul>
        </div>
    </div>
</div>
<div class="blog-area pt-120 pb-120">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                <div class="blog-wrap mb-40 bg-light">
                    <div class="thumb-wrap">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/sFqMX_tBUCs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="blog-content pb-2 pt-2">
                        <p class="text-dark text-center">
                            Как установить крепление iSOFIX на нужное сиденье
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                <div class="blog-wrap mb-40 bg-light">
                    <div class="thumb-wrap">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/WRtVBX4uMPU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="blog-content pb-2 pt-2">
                        <p class="text-dark text-center">
                            Как комфортно возить несколько детей в машине на большие расстояния.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                <div class="blog-wrap mb-40 bg-light">
                    <div class="thumb-wrap">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/LgoMc0B5YpU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="blog-content pb-2 pt-2">
                        <p class="text-dark text-center">
                            Коротко что такое ИЗОФИКС и как его установить в машину
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                <div class="blog-wrap mb-40 bg-light">
                    <div class="thumb-wrap">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/o0iGzxaPa9k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="blog-content pb-2 pt-2">
                        <p class="text-dark text-center">
                            Испытание на прочность кронштейнов ISOFIX от ISOFIX-MSK
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                <div class="blog-wrap mb-40 bg-light">
                    <div class="thumb-wrap">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/NtOjU7BhsHA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="blog-content pb-2 pt-2">
                        <p class="text-dark text-center">
                            Обзор кронштейн-рейки ISOFIX-MSK. Три автокресла на заднем сиденье
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                <div class="blog-wrap mb-40 bg-light">
                    <div class="thumb-wrap">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/uKJ6WvNH5Sw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="blog-content pb-2 pt-2">
                        <p class="text-dark text-center">
                            Установка креплений изофикс на переднее сиденье BMW X4 (G02, сиденье 30d sport)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                <div class="blog-wrap mb-40 bg-light">
                    <div class="thumb-wrap">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-m_B9smJHM4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="blog-content pb-2 pt-2">
                        <p class="text-dark text-center">
                            Возите ребенка спереди на isofix! Установка изофикс в машину
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                <div class="blog-wrap mb-40 bg-light">
                    <div class="thumb-wrap">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/2VfWwzpkGmI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="blog-content pb-2 pt-2">
                        <p class="text-dark text-center">
                            Установка крепления ISOFIX на переднее сиденье MAZDA 6 (CX-5 | CX-9). Видеоинструкция, ISOFIX-MSK
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                <div class="blog-wrap mb-40 bg-light">
                    <div class="thumb-wrap">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/62deoAcqDO4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="blog-content pb-2 pt-2">
                        <p class="text-dark text-center">
                            Установка сразу шести автокресел на isofix в семиместную машину
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                <div class="blog-wrap mb-40 bg-light">
                    <div class="thumb-wrap">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/1wKnUUpK4iw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="blog-content pb-2 pt-2">
                        <p class="text-dark text-center">
                            Как найти крепление ISOFIX в машине. Показываем где находятся петли изофикс
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="pro-pagination-style text-center mt-10">

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}